---
import Navbar from './Navbar.astro';
import Slides from './Slides.jsx';
---
<header>
    <Navbar />
    <div class="absolute w-screen h-screen overflow-hidden">
        <Slides />
    </div>
</header>




