---
const { text, onlick, border } = Astro.props;
const borderClass = border === 'Y' ? 'border border-black' : '';
---

<button class={`bg-white rounded-full px-4 lg:px-6 flex items-center gap-x-2 py-2 mtlg:py-2 mt-2 uppercase text-xs lg:text-xl ${borderClass}`} onClick={onlick}>
    {text}
    <svg class="w-[18px] lg:w-[24px]" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 13L4 11L16 11L10.5 5.50004L11.92 4.08004L19.84 12L11.92 19.92L10.5 18.5L16 13L4 13Z" fill="black"/>
    </svg>
</button>
