---
import Button from "../components/Button.astro";
import Title from "./Title.astro";
import Gallery from './Gallery.jsx';

---
<section id="informacion" class="max-h-[1000px]">
    <div class="relative flex flex-col lg:flex-row min-h-[90vh] flex-rows lg:overflow-hidden 2xl:min-h-[1000px]" id="img-section1">
        <div class="lg:w-1/2 w-screen">
            <img class="lg:hidden w-screen" src="/section1.png" alt="">
        </div>
        <div class="lg:w-1/2 w-screen flex flex-col justify-center">
            <div id="capa" class="hidden lg:block absolute w-full h-[90vh]"></div>
            <div class="lg:absolute p-10 w-full" id="title-container">
                <div class="" id="div2">
                    <div class="max-w-[400px] border-[#83A327] border-l-[10px] p-5" id="title1">
                        <p
                            class="font-nunito uppercase font-black text-[#494949] text-[1rem] md:text-[1.3rem]"
                            >Sumérgete en la&nbsp;</p
                        >
                        <p
                            class="font-nunito uppercase font-black text-[#83A327] text-[1rem] md:text-[1.3rem]"
                            >experiencia única&nbsp;</p
                        >
                        <p
                            class="font-nunito uppercase font-black text-[#494949] text-[1rem] md:text-[1.3rem]"
                            >de explorar</p
                        >
                        <Title title="Geoturismo Contrafuerte" />
                    </div>
    
                    <div class="max-w-[400px] border-[#83A327] border-l-[10px] p-5 hidden" id="title2">
                        <span
                            class="font-nunito uppercase font-black text-[#83A327] text-[1rem] md:text-[1.3rem]"
                            >Geo patrimonio</span
                        >
                    </div>
                </div>
                <div class="my-5">
                    <p class="font-nunito font-light pe-5 md:pe-20 lg:pe-5 lg:max-w-[40vw] text-justify" id="description">
                        El hermoso Valle de Contrafuerte se encuentra distante a 48
                        km.al Sur-este de la Comuna de Lago Ranco, es un Área
                        Protegida Privada que cuenta con 3.200 hás., geográficamente
                        se encuentra colindante al Complejo volcánico Puyehue-Cordón
                        Caulle por lo que cuenta con un acceso directo al Geo
                        Patrimonio.Posee un rico ecosistema lleno de biodiversidad
                        que alberga 56 especies entre aves y mamíferos tales como el
                        carpintero negro, el Hued-Hued, Chucao ,Martín Pescador,
                        Puma, el Monito del Monte entre muchos otros.
                    </p>
                </div>
                <Button text="Conoce más" id="conocer-mas" />
                <Button class="hidden" text="Volver" dir="left" id="volver"/>
                <div id="gallery" class="hidden">
                    <Gallery client:load />
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #img-section1 {
        background: url("/section1.png") no-repeat;
        background-size: cover;
        background-position-y: 100%;
    }
    #capa {
        background: rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(10.3px);
    }

    #title-container,
    #capa {
        transition: transform 0.5s ease;
    }

    #capa.shifted,
    #title-container.shifted {
        transform: translateX(-50%);
    }

    @media screen and (max-width: 1024px) {
        #img-section1 {
            background-image: none;
        }

        #title-container,
        #capa {
            transition: none;
        }

        #capa.shifted,
        #title-container.shifted {
            transform: none;
        }
    }

</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("#conocer-mas").addEventListener("click", function(){ handleButtonClick() });
        document.querySelector("#volver").addEventListener("click", function(){ handleButtonClick() });
    });

    function handleButtonClick() {
        const button = document.getElementById('conocer-mas');
        const buttonVolver = document.getElementById('volver');
        const description = document.getElementById("description");
        const title1 = document.getElementById('title1');
        const title2 = document.getElementById('title2');
        const buttonVerFotos = document.getElementById('gallery');

        document.getElementById("capa").classList.toggle("shifted");
        document.getElementById("title-container").classList.toggle("shifted");

        description.classList.toggle('lg:max-w-[40vw]')

        title1.classList.toggle('hidden');
        title2.classList.toggle('hidden');

        button.classList.toggle('hidden');
        buttonVolver.classList.toggle('hidden');
        buttonVerFotos.classList.toggle('hidden');

        if(Array.from(button.classList).some(b => b === 'hidden')) {
            description.innerText = `Naturaleza simplemente poderosa, palabras que mejor representan y distinguen al Complejo Volcánico Puyehue-Cordón Caulle, coronado con el imponente Volcán Puyehue, macizo de 2.240 mts. de altitud, inserto en el Parque Nacional que lleva su nombre, dicho Parque posee 107.000 hás de superficie que comparten 2 regiones ,el 43,2% pertenece a la Región de Los Ríos y el resto a la vecina Región de Los Lagos.

            Éste Patrimonio Geológico natural de extraordinaria belleza y atractivo, es considerado una de las rutas imperdibles en el país, ha sido protagonista de 3 importantes erupciones en los últimos 100 años, 1921 - 1922; 1960 y 2011, siendo además uno de los principales sitios de exploración geotérmica de Chile. La combinación de estos atributos hacen de ésta Área Silvestre Protegida un territorio designado como Reserva de la Biósfera de los Bosques Templados Lluviosos de Los Andes Australes de Chile, formando un corredor biológico que se expande hacia el norte dando forma a un hermoso Valle llamado Contrafuerte.

            El valle de Contrafuerte fue testigo clave de la última erupción del Cordón Caulle el año 2011, el cual dejó una gran extensión de Bosque Gris, afectados por el manto de ceniza y piedra pómez que los dejó de pie pero sin vida. La vegetación se está regenerando desde la misma ceniza...la vida busca su camino, sobre todo en un espacio rodeado de vertientes y arroyos que nacen de las profundidades de la tierra junto a las exquisitas y placenteras aguas termales que es uno de los principales atractivos turísticos del lugar.`;
        } else {
            description.innerText = 'El hermoso Valle de Contrafuerte se encuentra distante a 48 km.al Sur-este de la Comuna de Lago Ranco, es un Área Protegida Privada que cuenta con 3.200 hás., geográficamente se encuentra colindante al Complejo volcánico Puyehue-Cordón Caulle por lo que cuenta con un acceso directo al Geo Patrimonio.Posee un rico ecosistema lleno de biodiversidad que alberga 56 especies entre aves y mamíferos tales como el carpintero negro, el Hued-Hued, Chucao ,Martín Pescador, Puma, el Monito del Monte entre muchos otros.'
        }
    }


</script>
