---
import Title from '../Title.astro';
import Slides from './Slides.jsx';
---
<div class="text-center">
    <div class="border-[#4A5E73] border-b-[10px] px-10 mb-10 inline-block">
        <Title title="Galería" />
    </div>

    <Slides client:load/>
</div>